<!-- app/views/restaurants/show.html.erb -->
<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>

<h3>
<%= link_to '<< Return to home >>', tasks_path %>
</h3>
<h3>
<%= link_to "<< Delete Task >>", task_path,
      method: :delete,
      data: { confirm: "Are you sure you want to delete that?" } %>
</h3>

<h3>
<%= link_to '<< Edit task >>', task_path,
      method: :patch %>
</h3>
